<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitchen app</title>
    {% block head %}
    <link rel="stylesheet" type="text/css" href="/resources/css/styles.css">
    {% endblock %}
</head>

<body>
    <div id="header">
    {% block header %}
        <a href="/"><img src="/resources/icons/bit-academy.png" alt="Bit academy logo"></a>
        <a href="/recipe" class="header-button hover-underline">Recipies</a>
        <a href="/kitchen" class="header-button hover-underline">Kitchens</a>

        {% if session.user_id %}
            <span style="right: 250px;" class="header-button text-right">Welkom, {{ session.username }}</span><a href="/user/logout" class="header-button hover-underline text-right">Log out</a>
        {% else %}
            <a href="/user" class="header-button hover-underline text-right">Log in</a>
        {% endif %}
        
    {% endblock %}
    </div>
    
    <div id="container">
        {% block show %}
        {% endblock %}
    
        {% block recipes %}
        {% endblock %}

        {% block kitchens %}
        {% endblock %}

        {% block create %}
        {% endblock %}

        {% block edit %}
        {% endblock %}
    
        {% block login %}
        {% endblock %}
    </div>
</body>
</html>