{% extends "./layouts/app.twig" %}

{% block show %}

    <div id="show-recipe">
        <p class="levels level-hard center" style="font-size: 1.2rem;">{{ errorMessage }}</p>
    </div>

{% endblock %}