{% extends "./layouts/app.twig" %}

{% block login %}

    <div id="recipes">
        <img src="/resources/icons/bit-academy-primary.svg" alt="Bit academy logo">
    
        <h1>Log in to your account</h1>
        
        <form method="POST" action="/user/login">
            <input type="text" name="username" id="username" placeholder="username">
            <input type="password" name="password" id="password" placeholder="password">

            <input type="submit" value="Log in">
        </form>

        {% if errorMessage %}
            <span id="error">{{ errorMessage }}</span>
        {% endif %}
    </div>
    
{% endblock %}