/* general */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

fieldset {
    border-radius: 10px;
}
#container {
    display: flex;
    margin: 50px;
    justify-content: center;
}

#error {
    background-color: rgb(255, 160, 160);
    color: rgb(198, 0, 0);
}


.center {
    text-align: center;
}

.hover-underline {
    text-decoration: none;
}

.hover-underline:hover {
    text-decoration: underline;
}

.table-row {
    border: 1px solid rgb(187, 187, 187);
}

/* header bar */
#header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5vw;
    padding: 10px;
    background-color: rgb(55, 55, 241);
    flex-wrap: wrap;
}

#header a {
    font-size: 1.2rem;
    font-weight: bold;
}

#header img {
    justify-content: flex-start;
    height: 2.5rem;
}

.header-button {
    color: white;
}

/* recipe table */
#recipe-table {
    justify-content: center;
    border-collapse: collapse;
    border-spacing: 0 10px;
    width: 60vw;
    border-radius: 20px;
    table-layout: fixed;
    margin-bottom: 2rem;
}

#recipe-table tr:first-child {
    background-color: rgb(227, 227, 227);
}

#recipe-table th,
#recipe-table td {
    padding: 10px;
}

#recipe-table th {
    background-color: rgb(227, 227, 227);
}
/* difficulty levels */
.levels {
    display: flex;
    justify-content: center;
    border-radius: 7px;
    padding: 3px 10px 3px 10px;
}

.level-easy {
    background-color: rgb(138, 255, 138);
    color: rgb(0, 116, 0);
}

.level-medium {
    background-color: rgb(255, 234, 172);
    color: rgb(212, 142, 11);
}

.level-hard {
    background-color: rgb(255, 160, 160);
    color: rgb(198, 0, 0);
}

/* kitchen show view */
#kitchen-show-container {
    justify-content: center;
    margin-bottom: 2rem;
}
#kitchen-description {
    max-width: 500px;
    margin: 0;
}

#show-fieldset {
    padding: 0 2rem 1rem 2rem;
    min-width: 25vw;
}

/* create view */
#create-edit-form {
    width: 30rem;
    display: flex;
    flex-direction: column;
}

#create-edit-form input,
#create-edit-form textarea,
#create-edit-form select {
    border-radius: 7px;
    padding: 5px;
    margin-bottom: 1.5rem;
}

#submit {
    width: 100px;
    color: white;
    background-color: rgb(35, 108, 254);
}

#submit-section {
    align-items: baseline;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
/* edit view */
#edit-container {}